bin
build-Firmware-Desktop_Qt_5_7_1_GCC_64bit-Domyślna
Firmware-build
gcc-arm-none-eabi-4_8-2014q3
gcc-arm-none-eabi-4_8-2014q3-20140805-linux.tar.bz2
linux_3.13.0-117.164.diff.gz
linux_3.13.0-117.164.dsc
linux_3.13.0.orig.tar.gz
linux-headers-3.13.0-117_3.13.0-117.164+cdcacm_all.deb
src
