<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtandroid.main"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25" />

    <uses-permission android:name="rtandroid.permission.USE_RT_CPU" />
    <uses-permission android:name="rtandroid.permission.USE_RT_PROCESSES" />
    <uses-permission android:name="rtandroid.permission.USE_ROOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".KontaktIOInitialize"
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

        <uses-library android:name="rtandroid.sdk" />
        <meta-data
            android:name="realtime"
            android:value="true" />

        <activity
            android:name="rtandroid.main.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.StartupReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.RestartBLEReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="rtandroid.main.RestartBLESensor"/>
                <!-- To restart sensor when bletooth stops working TODO: to be checked -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />
        <service
            android:name=".service.BackgroundScanService"
            android:enabled="true"/>

    </application>


</manifest>
